#video, #videoCanvas {
    margin-left: 10%;
    margin-top: 120px;
    position: absolute;
}
.displayFeatures {
    margin-left: 10%;
    margin-top: 120px;
    position: absolute;
}
#save {
    visibility: hidden;
	margin-left: 230px;
    margin-top: 120px;
    position: absolute;
	
}
#saveVideo {
    visibility:hidden;
    position: absolute;
    overflow: hidden;
}
#instructions {
   	margin-left: 50%;
    margin-top: 50px;
    position: relative; 
}
#guidelines {
   	margin-left: 50%;
    margin-top: 50px;
    position: relative; 
}
.view-frame {
    height: 400px;
    width: 50%;
    position: relative;
    float: left;
}
