#video, #canvas {
    margin-left: 10%;
    margin-top: 120px;
    position: absolute;
}
#save {
    visibility: hidden;
	margin-left: 230px;
    margin-top: 120px;
    position: absolute;
	
}
#saveVideo {
    visibility:hidden;
}
#instructions {
   	margin-left: 50%;
    margin-top: 50px;
    position: absolute; 
}

